{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      {% for d in data %}
      <div class="card mb-5 post mx-auto" style="width: 18rem;">
        <div class="card-header">
          <p class="card-text">{{ d.titulo }}</p>
        </div>
        <img src="{{ d.imagen.url }}" class="card-img-top" alt="Imagen del post">
        <div class="card-body">
          <p class="card-text">{{ d.contenido }}</p>

          <div class="mb-2">
            <a href="{% url 'comentar_post' d.id %}" class="btn btn-outline-primary btn-sm">Ver y comentar</a>
          </div>

         

          

         

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
