 <!-- FOOTER -->
 <div class="bg-dark">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'post' %}" class="nav-link px-2 text-light">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'crear_post' %}" class="nav-link px-2 text-light">Crear Post</a></li>


      </ul>
      <p class="text-center text-light">©Derechos reservados Grupo 2, Duoc UC 2025 , Analista Progamador</p>
    </footer>
  </div>