{% load static %}
<!-- NAVBAR -->
<div class="mb-3 bg-dark">
    <nav class="navbar navbar-expand-lg text-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
            <div style="max-width: 3rem;">
                <img class="img-fluid" src="./static/images/logo/Shell_logo.svg.png" alt="">
            </div>
          </a>
          <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="{% url 'post' %}">Inicio</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="{% url 'crear_post' %}">Crear Post</a>
              </li>
              
             
              <li>
                <div class="dropdown nav-dropdown">
                    <button class="btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./templates/categorias/accesorios.html">Accesorios</a></li>
                        <li><a class="dropdown-item" href="./templates/categorias/baterias.html">Baterías</a></li>
                        <li><a class="dropdown-item" href="./templates/categorias/electricidad-iluminacion.html">Iluminación y electricidad</a></li>
                        <li><a class="dropdown-item" href="./templates/categorias/lubricantes.html">Lubricantes</a></li>
                        <li><a class="dropdown-item" href="./templates/categorias/neumaticos.html">Neumaticos</a></li>
                        <li><a class="dropdown-item" href="./templates/categorias/herramientas.html">Herramientas</a></li>
                    </ul>
                </div>
              </li>
              
            </ul>
            
            </div>
            </div>
            <form class="d-flex" role="search">
              
              <a class="btn btn-success text-light btn-outline-success" href="./templates/cuentas/login.html"><i class="bi bi-person-fill"></i></a>
            </form>
          </div>
        </div>
      </nav>
</div>