{% extends 'base/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
    <div class="card-header">
        <h2>Usuarios registrados</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Grupos</th>
            </tr>
            </thead>
            <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for group in user.groups.all %}
                    <span class="badge bg-info">{{ group.name }}</span>
                {% empty %}
                    <span class="text-muted">Sin grupo</span>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

  <hr>

  <div class="row">
    <div>
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Asignar Usuario a Grupo</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ asignar_form.as_p }}
                    <button name="asignar_usuario" class="btn btn-primary">Asignar</button>
                </form>
            </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Crear Nuevo Grupo</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ crear_grupo_form.as_p }}
                    <button name="crear_grupo" class="btn btn-success">Crear Grupo</button>
                </form>
            </div>
            
        </div>
        </div>
    </div>
  </div>

</div>
{% endblock %}
