{% extends 'base/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Iniciar Sesión</h3>
        
        <form method="post" action="{% url 'login_user' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Correo Electrónico</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                {{ form.password }}
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me">
                    <label class="form-check-label" for="remember_me">Recuérdame</label>
                </div>
                <a href="{% url 'password_reset' %}" class="text-decoration-none small">¿Olvidaste tu contraseña?</a>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
            <div class="text-center">
                <p class="text-muted small">
                    Credenciales de prueba
                </p>
                <div class="text-start">
                    <h5>Cuenta Usuario</h5>
                    <p class="text-muted small">
                        usuario: usuario_1
                    </p>
                    <p class="text-muted small">
                        contraseña: usuario_prueba
                    </p></br>
                </div>
                <div class="text-start">
                    <h5>Cuenta Moderador Admin</h5>
                    <p class="text-muted small">
                        usuario (admin): admin
                    </p>
                    <p class="text-muted small">
                        contraseña: xd21proclus
                    </p>
                </div>
            </div>
            <div class="text-center">
                <p class="text-muted small">
                    ¿No tienes una cuenta?
                    <a href="{% url 'register' %}" class="text-decoration-none">Regístrate</a>.
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
