{% extends 'base/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto" style="height:100vh;">
     
        <div class="card text-center">
          <div class="card-header">
            LowDefinition
          </div>
          <div class="card-body">
            <h5 class="card-title">Bienvenido a LowDefinition</h5>
            <p class="card-text">Página contenido de humor, Memes y entre otros.</p>
            <a href="{% url 'post' %}" class="btn btn-primary">Acceder</a>
          </div>
          <div class="card-footer text-muted">
            Grupo 2
          </div>
        </div>
       
      </div>
    </div>
  </div>
{% endblock %}